:root{
    --head_footColor: #472183;
    --bodyColor: #4B56D2;
    --textColor: #F1F6F5;
    --linkColor: #82C3EC;
}

header, footer{
    background-color: var(--head_footColor);
    padding: 1vw;
    text-align: center;
}

body{
    background-color: var(--bodyColor);
}

article{
    padding: 1vw;
    margin: 1vw;
    border: 1px solid #472183;
    text-align: center;
}

article > h2,p{
    padding: 1.3vw;
}

img{
    width: 25vw;
}

*{
    margin: 0;
    padding: 0;
    color: var(--textColor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: var(--linkColor);
}

